doctype html
html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        div.container
            header
                h2 HTTP Request Headers
            section
                table(style='width:90%', border='1')
                   tr
                     th Name
                     th Value
                   each val, key in request.headers
                    tr
                     td(style='white-space:nowrap')= key
                     td= val
